Checks: >
    clang-diagnostic-*,
    clang-analyzer-*,
    cert-*,
    bugprone-*,
    performance-*,
    portability-*,
    readability-*,
    misc-*,
    modernize-macro-to-enum,
    -clang-diagnostic-pointer-sign,
    -clang-analyzer-core.NonNullParamChecker,
    -clang-analyzer-core.NullDereference,
    -clang-analyzer-unix.Malloc,
    -cert-err33-c,
    -bugprone-easily-swappable-parameters,
    -bugprone-implicit-widening-of-multiplication-result,
    -bugprone-narrowing-conversions,
    -bugprone-macro-parentheses,
    -bugprone-sizeof-expression,
    -bugprone-not-null-terminated-result,
    -bugprone-branch-clone,
    -bugprone-suspicious-string-compare,
    -bugprone-suspicious-include,
    -readability-else-after-return,
    -readability-function-cognitive-complexity,
    -readability-identifier-length,
    -readability-implicit-bool-conversion,
    -readability-inconsistent-declaration-parameter-name,
    -readability-isolate-declaration,
    -readability-magic-numbers,
    -readability-uppercase-literal-suffix,
    -clang-analyzer-cplusplus*,
    -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
    -misc-no-recursion,
    -performance-no-int-to-ptr,
