Checks: >
    clang-diagnostic-*,
    clang-analyzer-*,
    cert-*,
    bugprone-*,
    performance-*,
    portability-*,
    readability-*,
    misc-*,
    -clang-diagnostic-pointer-sign,
    -bugprone-easily-swappable-parameters,
    -bugprone-implicit-widening-of-multiplication-result,
    -bugprone-narrowing-conversions,
    -bugprone-macro-parentheses,
    -bugprone-sizeof-expression,
    -bugprone-not-null-terminated-result,
    -bugprone-branch-clone,
    -readability-else-after-return,
    -readability-function-cognitive-complexity,
    -readability-identifier-length,
    -readability-isolate-declaration,
    -readability-magic-numbers,
    -readability-uppercase-literal-suffix,
    -clang-analyzer-cplusplus*,
    -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
    -misc-no-recursion,
    -performance-no-int-to-ptr,
