root = true

[*]
indent_style = space
indent_size = 4
tab_width = 8

[{GNUmakefile,makefile,*.mk}]
indent_style = tab
indent_size = 8

[docs/*.html]
indent_style = space
indent_size = 2

[*.appdata.xml]
indent_style = space
indent_size = 2

[{COMMIT_EDITMSG,MERGE_MSG}]
max_line_length = 72
