root = true

[*]
indent_style = space
indent_size = 4
tab_width = 8

[{GNUmakefile,makefile,*.mk}]
indent_style = tab
indent_size = 8

[docs/*.html]
indent_style = space
indent_size = 2

[.git/COMMIT_EDITMSG]
max_line_length = 72
