[attr]generated is-generated linguist-generated gitlab-generated
[attr]4space text whitespace=tab-in-indent,tabwidth=4 space-indent
[attr]2space text whitespace=tab-in-indent,tabwidth=2 space-indent
[attr]c 4space linguist-language=C
[attr]make text
[attr]shell 4space
[attr]fish 4space
[attr]zsh 4space
[attr]markdown 4space
[attr]dterc 4space
[attr]awk 4space
[attr]sed 4space
[attr]lua 4space
[attr]yaml 4space
[attr]css 4space
[attr]html 2space
[attr]xml 2space

/.* export-ignore
/gcovr.cfg export-ignore
/test/vi.dterc export-ignore
/docs/README.md export-ignore
/docs/TODO.md export-ignore
/docs/contributing.md export-ignore
/docs/releasing.md export-ignore
/docs/logo-inkscape.svg export-ignore
/tools export-ignore
/tools/** export-ignore
.clang-tidy export-ignore

*.[ch] c
*.lua lua
*.awk awk
*.sed sed
*.sh shell
*.bash shell
*.fish fish
*.zsh zsh
*.yml yaml
*.css css
*.html html
*.xml xml
*.md markdown
*.dterc dterc
*.txt text
*.mk make
GNUmakefile make
makefile make
LICENSE text

/mk/version.sh export-subst
/config/** dterc
/config/README.md -dterc
/tools/git-hooks/commit-msg awk
/tools/git-hooks/pre-commit shell
/test/data/crlf.txt -text diff
/test/data/insert.txt whitespace=-blank-at-eol
/test/data/syntax-lint.dterc -space-indent -whitespace
/docs/*.[15] roff 4space generated
/src/util/unidata.h generated

# See: tools/git-hooks/pre-commit
[attr]ctfull change-triggers-full-check
[attr]ctbasic change-triggers-basic-check
[attr]ctdoc change-triggers-doc-regen-check
/tools/git-hooks/pre-commit ctfull ctdoc
/GNUmakefile ctfull ctdoc
/mk/compat.mk ctfull ctdoc
/mk/prelude.mk ctfull ctdoc
/mk/util.mk ctfull ctdoc
/mk/build.mk ctfull
/mk/docs.mk ctdoc
/mk/optcheck.sh ctfull ctdoc
/mk/*.sh ctfull
/mk/*.awk ctfull
/mk/feature-test/** ctfull
/src/** ctfull
/test/** ctfull
/config/** ctbasic
/docs/dte*.md ctdoc
/docs/pdman.lua ctdoc
README.md -ctfull -ctbasic -ctdoc
