/public/
/.cache/
/dte
/dte.exe
/dte-*.tar.gz
/tags
callgrind.out.*

# We omit the trailing slash here, because this may be a symlink instead
# of a directory (see "CUSTOM_DTE_BUILD_DIR" comment in mk/build.mk)
/build

# See "persistent configuration" in docs/packaging.md
/Config.mk
/.*.mk
