[Desktop Entry]
Name = dte
GenericName = Text Editor
Comment = Edit text files
Icon = text-editor
Categories = Utility;TextEditor;
Keywords = Text;Editor;Plaintext;Write;
Type = Application
Terminal = true
StartupNotify = false
TryExec = dte
Exec = dte %F
MimeType = text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;

# Translations (originally from gedit):

GenericName[af]=Teksredigeerder
GenericName[am]=የጽሑፍ ማቀናጃ
GenericName[an]=Editor de texto
GenericName[ar]=محرّر النصوص
GenericName[as]=লিখনি সম্পাদক
GenericName[ast]=Editor de Testu
GenericName[az]=Mətn Editoru
GenericName[be]=Тэкставы рэдактар
GenericName[be@latin]=Tekstavy redaktar
GenericName[bg]=Текстов редактор
GenericName[bn]=টেক্সট সম্পাদক
GenericName[bn_IN]=টেক্সট এডিটার
GenericName[br]=Embanner testennoù
GenericName[bs]=Uređivač teksta
GenericName[ca]=Editor de text
GenericName[ca@valencia]=Editor de text
GenericName[ckb]=دەستکاریکەری دەق
GenericName[crh]=Metin Muharriri
GenericName[cs]=Textový editor
GenericName[cy]=Golygydd Testun
GenericName[da]=Tekstredigering
GenericName[de]=Texteditor
GenericName[dz]=ཚིག་ཡིག་ཞུན་དགཔ།
GenericName[el]=Επεξεργαστής κειμένου
GenericName[en_CA]=Text Editor
GenericName[en_GB]=Text Editor
GenericName[en@shaw]=𐑑𐑧𐑒𐑕𐑑 𐑧𐑛𐑦𐑑𐑼
GenericName[eo]=Tekstredaktilo
GenericName[es]=Editor de textos
GenericName[et]=Tekstiredaktor
GenericName[eu]=Testu-editorea
GenericName[fa]=ویرایشگر متن
GenericName[fi]=Tekstimuokkain
GenericName[fr]=Éditeur de texte
GenericName[fur]=Editôr di test
GenericName[ga]=Eagarthóir Téacs
GenericName[gd]=Deasaiche teacsa
GenericName[gl]=Editor de texto
GenericName[gu]=લખાણ સંપાદક
GenericName[he]=עורך טקסט
GenericName[hi]=पाठ संपादक
GenericName[hr]=Uređivač teksta
GenericName[hu]=Szövegszerkesztő
GenericName[hy]=Տեքստի խմբագրիչ
GenericName[id]=Penyunting Teks
GenericName[is]=Textaritill
GenericName[it]=Editor di testo
GenericName[ja]=テキストエディター
GenericName[ka]=ტექსტის რედაქტორი
GenericName[kk]=Мәтін түзетушісі
GenericName[km]=កម្មវិធី​​កែសម្រួល​​អត្ថបទ
GenericName[kn]=ಪಠ್ಯ ಸಂಪಾದಕ
GenericName[ko]=텍스트 편집기
GenericName[ku]=Edîtora Nivîsê
GenericName[la]=Scripta Edere
GenericName[ln]=mobɔngele nkomá ; editɛ́lɛ
GenericName[lt]=Tekstų redaktorius
GenericName[lv]=Teksta redaktors
GenericName[mai]=पाठ संपादक
GenericName[mg]=Fanovana lahabolana
GenericName[mjw]=Text Editor
GenericName[mk]=Уредувач за текст
GenericName[ml]=എഴുത്തിടം
GenericName[mn]=Текст боловсруулагч
GenericName[mr]=पाठ्य संपादक
GenericName[ms]=Penyunting Teks
GenericName[my]=စာသားအယ်ဒီတာ
GenericName[nb]=Tekstredigering
GenericName[nds]=Textbewarker
GenericName[ne]=पाठ सम्पादक
GenericName[nl]=Teksteditor
GenericName[nn]=Tekstredigering
GenericName[oc]=Editor de tèxte
GenericName[or]=ପାଠ୍ଯ ସମ୍ପାଦକ
GenericName[pa]=ਟੈਕਸਟ ਐਡੀਟਰ
GenericName[pl]=Edytor tekstu
GenericName[ps]=ليک سمونګر
GenericName[pt]=Editor de texto
GenericName[pt_BR]=Editor de texto
GenericName[ro]=Editor de text
GenericName[ru]=Текстовый редактор
GenericName[rw]=Umuhinduzi w'inyandiko
GenericName[si]=පෙළ සකසනය
GenericName[sk]=Textový editor
GenericName[sl]=Urejevalnik besedil
GenericName[sq]=Editues teksti
GenericName[sr]=Уређивач текста
GenericName[sr@latin]=Uređivač teksta
GenericName[sv]=Textredigerare
GenericName[ta]=உரை திருத்தி 
GenericName[te]=పాఠ్య కూర్పకము
GenericName[th]=เครื่องมือแก้ไขข้อความ
GenericName[tk]=Metin Editçi
GenericName[tr]=Metin Düzenleyici
GenericName[ug]=تېكىست تەھرىرلىگۈچ
GenericName[uk]=Текстовий редактор
GenericName[vi]=Soạn thảo văn bản
GenericName[wa]=Aspougneu di tecse
GenericName[xh]=Umhleli wombhalo
GenericName[zh_CN]=文本编辑器
GenericName[zh_HK]=文字編輯器
GenericName[zh_TW]=文字編輯器

Comment[af]=Redigeer tekslêers
Comment[am]=የጽሑፍ ፋይሎች ያስተካክሉ
Comment[an]=Edita fichers de texto
Comment[ar]=حرّر الملفات النصية
Comment[as]=লিখনি ফাইল সম্পাদনা
Comment[ast]=Editar ficheros de testu
Comment[az]=Mətn fayllarını redaktə edin
Comment[be]=Рэдагаванне тэкставых файлаў
Comment[be@latin]=Redahuj tekstavyja fajły
Comment[bg]=Редактиране на текстови файлове
Comment[bn]=টেক্সট ফাইল সম্পাদনা করুন
Comment[bn_IN]=টেক্সট ফাইল সম্পাদনা
Comment[br]=Embann restroù testenn
Comment[bs]=Izmijeni tekstualne datoteke
Comment[ca]=Editeu fitxers de text
Comment[ca@valencia]=Editeu fitxers de text
Comment[ckb]=دەق دەستکاریبکە
Comment[crh]=Metin dosyelerini tahrir et
Comment[cs]=Upravujte textové soubory
Comment[cy]=Golygu ffeiliau testun
Comment[da]=Redigér tekstfiler
Comment[de]=Textdateien bearbeiten
Comment[dz]=ཚིག་ཡིག་ཡིག་སྣོད་ཚུ་ ཞུན་དག་རྐྱབས་ 
Comment[el]=Επεξεργασία αρχείων κειμένου
Comment[en_CA]=Edit text files
Comment[en_GB]=Edit text files
Comment[en@shaw]=𐑧𐑛𐑦𐑑 𐑑𐑧𐑒𐑕𐑑 𐑓𐑲𐑤𐑟
Comment[eo]=Redakti tekstdosierojn
Comment[es]=Edite archivos de texto
Comment[et]=Tekstifailide redigeerimine
Comment[eu]=Editatu testu-fitxategiak
Comment[fa]=ویرایش پرونده‌های متنی
Comment[fi]=Muokkaa tekstitiedostoja
Comment[fr]=Éditer des fichiers texte
Comment[fur]=Modifiche file di test
Comment[ga]=Cuir comhaid téacs in eagar
Comment[gd]=Deasaich faidhlichean teacsa
Comment[gl]=Editar ficheiros de texto
Comment[gu]=લખાણ ફાઇલોમાં ફેરફાર કરો
Comment[he]=עריכת קובצי טקסט
Comment[hi]=पाठ फ़ाइलें संपादित करें
Comment[hr]=Uređivanje tekstovnih datoteka
Comment[hu]=Szövegfájlok szerkesztése
Comment[id]=Menyunting berkas teks
Comment[is]=Sýsla með textaskrár
Comment[it]=Modifica file di testo
Comment[ja]=テキストファイルを編集します
Comment[ka]=ტექსტური ფაილების რედაქტირება
Comment[kk]=Мәтіндік файлдарды түзету
Comment[km]=កែ​សម្រួល​ឯកសារ​អត្ថបទ
Comment[kn]=ಪಠ್ಯ ಕಡತಗಳನ್ನು ಸಂಪಾದಿಸು
Comment[ko]=텍스트 파일을 편집합니다
Comment[ku]=Pelên nivîsê sererast bike
Comment[ln]=Bɔngisa kásá ya nkomá
Comment[lt]=Redaguoti tekstinius failus
Comment[lv]=Rediģēt teksta datnes
Comment[mai]=पाठ फाइलकेँ संपादित करू
Comment[mg]=Hanova raki-dahabolana
Comment[mk]=Уредувај текстуални датотеки
Comment[ml]=പദാവലി ഫയലുകളില്‍ മാറ്റം വരുത്തുക
Comment[mn]=Текст файл боловсруулах
Comment[mr]=मजकूर फाइल्स् संपादीत करा
Comment[ms]=Sunting fail teks
Comment[my]=စာသားဖိုင်များပြင်ဆင်ရန်
Comment[nb]=Rediger tekstfiler
Comment[nds]=Textdateien bewarken
Comment[ne]=पाठ फाइल सम्पादन गर्नुहोस्
Comment[nl]=Tekstbestanden bewerken
Comment[nn]=Rediger tekstfiler
Comment[oc]=Editar de fichièrs tèxte
Comment[or]=ପାଠ୍ଯ ଫାଇଲଗୁଡ଼ିକୁ ସମ୍ପାଦନ କରନ୍ତୁ
Comment[pa]=ਲਿਖਤ ਫਾਇਲਾਂ ਸੋਧੋ
Comment[pl]=Edytor plików tekstowych
Comment[ps]=ليکن دوتنې سمول
Comment[pt]=Editar ficheiros de texto
Comment[pt_BR]=Edite arquivos de texto
Comment[ro]=Editare fișiere text
Comment[ru]=Редактор текстовых файлов
Comment[si]=පෙළ ගොනු සකසන්න
Comment[sk]=Úprava textových súborov
Comment[sl]=Enostavni urejevalnik besedilnih datotek
Comment[sq]=Ndrysho file teksti
Comment[sr]=Уређујте текстуалне документе
Comment[sr@latin]=Uređujte tekstualne dokumente
Comment[sv]=Redigera textfiler
Comment[ta]=உரை கோப்புகளை திருத்தவும் 
Comment[te]=పాఠ్య ఫైళ్ళను సవరించు
Comment[th]=แก้ไขแฟ้มข้อความ
Comment[tk]=Metin faýllary editle
Comment[tr]=Metin dosyalarını düzenle
Comment[ug]=تېكىست ھۆججەتلىرىنى تەھرىرلەش
Comment[uk]=Редактор текстових файлів
Comment[vi]=Soạn thảo tập tin văn bản
Comment[wa]=Asspougnî des fitchîs tecses
Comment[xh]=Hlela iifayili zombhalo
Comment[zh_CN]=编辑文本文件
Comment[zh_HK]=編輯文字檔
Comment[zh_TW]=編輯文字檔

Keywords[ca]=Text;Editor;text simple;escriure;
Keywords[cs]=text;editor;prostý text;psát;psaní;
Keywords[da]=Tekst;Editor;Redigering;Tekstredigering;Skrive;Skriv;
Keywords[de]=Text;Editor;Klartext;Schreiben;
Keywords[el]=Text;Editor;Plaintext;Write;κείμενο;επεξεργαστής;εγγραφή;γράψιμο;
Keywords[en_GB]=Text;Editor;Plaintext;Write;
Keywords[eo]=Teksto;Redaktilo;Plata teksto;Skribi;
Keywords[es]=texto;editor;plano;escribir;
Keywords[eu]=Testua;Editorea;Testu soila;Idatzi;
Keywords[fa]=Text;Editor;Plaintext;Write;ویرایشگر متن;متن;ویرایشگر;نوشتار;
Keywords[fi]=Text;Editor;Plaintext;Write;teksti;muokkain;editori;tekstieditori;tekstimuokkain;
Keywords[fr]=texte brut;éditeur;écrire;
Keywords[fur]=Text;Editor;Test sempliç;Scrivi;
Keywords[gl]=Texto;Editor;Texto plano;Escribir;
Keywords[he]=טקסט;עורך;עריכה;טקסט פשוט;כתיבה;
Keywords[hr]=Tekst;Uređivač;Izvoran tekst;Piši;
Keywords[hu]=Szöveg;Szerkesztő;Egyszerű szöveg;Írás;
Keywords[id]=Teks;Penyunting;Teks Polos;Tulis;
Keywords[it]=Editor;Testo;Text;Scrivere;
Keywords[ja]=Text;Editor;Plaintext;Write;テキスト;エディター;プレーンテキスト;
Keywords[kk]=Text;Editor;Plaintext;Write;Мәтін;Түзеткіш;Ашық мәтін;Жазу;
Keywords[ko]=Text;텍스트;Editor;편집기;Plaintext;일반텍스트;Write;글쓰기;작성;지에디트;
Keywords[lt]=Tekstas;Redaktorius;Grynasis tekstas;Rašymas;
Keywords[lv]=Teksts;Redaktors;Vienkāršs teksts;Rakstīt;
Keywords[mjw]=Text;Editor;Plaintext;Write;
Keywords[ms]=Teks;Penyunting;Plaintext;Menulis;
Keywords[nb]=Tekst;Redigering;Vanlig tekst;Skriv;
Keywords[nl]=Text;tekst;Editor;teksteditor;tekstverwerker;Plaintext;platte tekst;Write;schrijven;
Keywords[pa]=ਸ਼ਬਦ;ਟੈਕਸਟ;ਸੰਪਾਦਕ;ਐਡੀਟਰ;ਪਲੇਨਟੈਕਸਟ;ਜੀਸੰਪਾਦਕ;
Keywords[pl]=Tekst;Text;Edytor;Zwykły tekst;Pisanie;Pisz;Napisz;Write;
Keywords[pt]=Texto;Editor;Texto simples;Escrever;
Keywords[pt_BR]=Texto;Editor;Texto simples;Plaintext;Escrever;Write;
Keywords[ro]=Text;Editor;Plaintext;Write;Text simplu;Scrie;
Keywords[ru]=Текст;Редактор;Запись;Текстовый;
Keywords[sk]=Text;Editor;Čistý text;Písať;Napísať;Písanie;
Keywords[sl]=Besedilo;Urejevalnik;tekst;Write;Pisanje;
Keywords[sr]=Text;Editor;Plaintext;Write;текст;уређивач;обичан текст;писање;гедит;tekst;uređivač;običan tekst;pisanje;
Keywords[sv]=Text;Redigerare;Vanlig text;Skriv;
Keywords[tr]=Metin;Düzenleyici;Düzyazı;Yaz;
Keywords[uk]=Текст;Редактор;Запис;Написання;ґедіт;Text;Editor;Plaintext;Write;
Keywords[vi]=Text;văn;bản;van;ban;Editor;sửa;sua;soạn;thảo;soan;thao;chữ;chu;Plaintext;Chữ thường;Chu thuong;Write;Ghi;Lưu;Luu;
Keywords[zh_CN]=Text;Editor;Plaintext;Write;文本;文字;编辑器;纯文本;编写;
Keywords[zh_TW]=Text;Editor;Plaintext;Write;文字;編輯器;純文字;撰寫;編寫;
